 .u-section-1 {
  background-image: url("images/ultimtnlegendrnfotka.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 787px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 649px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 497px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 235px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 259px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-2 .u-text-2 {
  width: 835px;
  margin: 30px auto 31px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 399px;
}

.u-section-3 .u-btn-1 {
  --radius: 10px;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: 114px 135px 0 auto;
  padding: 8px 16px 8px 14px;
}

.u-section-3 .u-image-1 {
  width: 533px;
  height: 300px;
  margin: -102px auto 0 26px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: -153px 26px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 366px;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: -370px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 103px;
    margin-right: auto;
    margin-bottom: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-btn-1 {
    margin-top: 33px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 235px;
  }

  .u-section-3 .u-image-1 {
    height: 191px;
    margin-top: -250px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin: 81px 0 22px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 496px;
}

.u-section-4 .u-btn-1 {
  --radius: 10px;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: 127px auto 0 175px;
  padding: 8px 24px 8px 23px;
}

.u-section-4 .u-image-1 {
  width: 349px;
  height: 389px;
  margin: -114px 145px 0 auto;
}

.u-section-4 .u-text-1 {
  margin: -218px 514px 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 231px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: 334px;
    margin-left: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 34px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    margin-top: -459px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin: 103px 55px -388px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 225px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-4 .u-image-1 {
    height: 379px;
    margin-top: -438px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 81px;
    margin-left: 0;
    margin-bottom: -378px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 399px;
}

.u-section-5 .u-btn-1 {
  --radius: 10px;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  margin: 98px 196px 0 auto;
  padding: 8px 58px 8px 57px;
}

.u-section-5 .u-image-1 {
  width: 357px;
  height: 300px;
  margin: -86px auto 0 124px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin: -165px 124px 60px 554px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-right: 24px;
    margin-left: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 366px;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: -370px;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    width: 462px;
    margin: 103px auto 33px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 22px;
  }

  .u-section-5 .u-image-1 {
    height: 286px;
    margin-top: -345px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin: 81px 0 -286px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 469px;
}

.u-section-6 .u-btn-1 {
  --radius: 10px;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  margin: 84px auto 0 161px;
  padding: 8px 67px 8px 65px;
}

.u-section-6 .u-image-1 {
  width: 533px;
  height: 300px;
  margin: -71px 37px 0 auto;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin: -202px 618px 60px 96px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-btn-1 {
    margin-top: 99px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
    margin-right: 514px;
    margin-left: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 34px;
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    margin-top: -370px;
    margin-right: auto;
  }

  .u-section-6 .u-text-1 {
    width: 457px;
    margin: 103px auto -299px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-btn-1 {
    margin-top: 125px;
  }

  .u-section-6 .u-text-1 {
    margin: 20px 114px 60px 108px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 22px;
  }

  .u-section-6 .u-image-1 {
    height: 191px;
    margin-top: -250px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin: 81px 0 -191px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 400px;
}

.u-section-7 .u-btn-1 {
  --radius: 10px;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: 50px 156px 0 auto;
  padding: 8px 67px 8px 66px;
}

.u-section-7 .u-image-1 {
  width: 453px;
  height: 300px;
  margin: -106px auto 0 93px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  margin: -152px 86px 47px 619px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 505px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 366px;
    margin-right: auto;
  }

  .u-section-7 .u-image-1 {
    margin-top: -370px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    width: 504px;
    margin: 103px auto 33px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-top: 20px;
    margin-bottom: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 22px;
  }

  .u-section-7 .u-image-1 {
    height: 225px;
    margin-top: -284px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin: 81px 0 -225px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 400px;
}

.u-section-8 .u-btn-1 {
  --radius: 10px;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: 117px auto 0 153px;
  padding: 8px 82px 8px 81px;
}

.u-section-8 .u-image-1 {
  width: 532px;
  height: 300px;
  margin: -104px 58px 0 auto;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  margin: -146px 643px 60px 105px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-btn-1 {
    margin-top: 136px;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    margin-top: 20px;
    margin-right: 543px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-8 .u-image-1 {
    margin-top: -370px;
    margin-right: auto;
  }

  .u-section-8 .u-text-1 {
    width: 328px;
    margin: 103px auto -300px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 164px;
  }

  .u-section-8 .u-text-1 {
    margin: 20px 148px 60px 105px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 22px;
  }

  .u-section-8 .u-image-1 {
    height: 192px;
    margin-top: -251px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin: 81px 6px -192px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 454px;
}

.u-section-9 .u-btn-1 {
  --radius: 10px;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: 50px 229px 0 auto;
  padding: 8px 73px 8px 72px;
}

.u-section-9 .u-image-1 {
  width: 265px;
  height: 353px;
  margin: -107px auto 0 179px;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  margin: -187px 102px 52px 489px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-btn-1 {
    margin-top: 141px;
    margin-right: 29px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 20px;
    margin-right: 192px;
    margin-left: 389px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-9 .u-image-1 {
    margin-top: -423px;
    margin-left: auto;
  }

  .u-section-9 .u-text-1 {
    width: 548px;
    margin: 103px auto -353px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 165px;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
    margin: 20px 144px 52px 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-9 .u-image-1 {
    margin-top: -412px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 81px;
    margin-right: 0;
    margin-bottom: -352px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 451px;
}

.u-section-10 .u-btn-1 {
  --radius: 10px;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: 50px auto 0 209px;
  padding: 8px 92px 8px 91px;
}

.u-section-10 .u-image-1 {
  width: 248px;
  height: 351px;
  margin: -118px 237px 0 auto;
}

.u-section-10 .u-text-1 {
  font-weight: 400;
  margin: -183px 570px 37px 144px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-btn-1 {
    margin-left: 9px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 20px;
    margin-right: 470px;
    margin-left: 156px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 34px;
    margin-left: auto;
  }

  .u-section-10 .u-image-1 {
    margin-top: -421px;
    margin-right: auto;
  }

  .u-section-10 .u-text-1 {
    width: 482px;
    margin: 103px auto -350px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin: 20px 114px 37px 156px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-10 .u-image-1 {
    margin-top: -410px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin: 81px 0 -350px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 400px;
}

.u-section-11 .u-btn-1 {
  --radius: 10px;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: 50px 194px 0 auto;
  padding: 8px 95px 8px 93px;
}

.u-section-11 .u-image-1 {
  width: 403px;
  height: 300px;
  margin: -88px auto 0 74px;
}

.u-section-11 .u-text-1 {
  font-weight: 400;
  margin: -162px 71px 75px 527px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-11 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 398px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 34px;
    margin-right: auto;
  }

  .u-section-11 .u-image-1 {
    margin-top: -370px;
    margin-left: auto;
  }

  .u-section-11 .u-text-1 {
    width: 542px;
    margin: 103px auto -299px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    margin-top: 20px;
    width: 540px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 22px;
  }

  .u-section-11 .u-image-1 {
    height: 253px;
    margin-top: -312px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin: 81px 0 -253px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 396px;
}

.u-section-12 .u-btn-1 {
  --radius: 10px;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: 51px auto 0 142px;
  padding: 8px 93px 8px 92px;
}

.u-section-12 .u-image-1 {
  width: 570px;
  height: 295px;
  margin: -107px 50px 0 auto;
}

.u-section-12 .u-text-1 {
  font-weight: 400;
  margin: -138px 689px 61px 129px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-12 .u-text-1 {
    margin-top: 20px;
    margin-right: 589px;
    margin-left: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-12 .u-btn-1 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-12 .u-image-1 {
    margin-top: -365px;
    margin-right: auto;
  }

  .u-section-12 .u-text-1 {
    width: 322px;
    margin: 103px auto -295px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-12 .u-image-1 {
    width: 540px;
    height: 280px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-12 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-12 .u-image-1 {
    height: 176px;
    margin-top: -235px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin: 81px 9px -175px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 372px;
}

.u-section-13 .u-btn-1 {
  --radius: 10px;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: 50px 157px 0 auto;
  padding: 8px 80px 8px 79px;
}

.u-section-13 .u-image-1 {
  width: 570px;
  height: 272px;
  margin: -94px auto 0 20px;
}

.u-section-13 .u-text-1 {
  font-weight: 400;
  margin: -114px 124px 78px auto;
}

@media (max-width: 1199px) {
  .u-section-13 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-13 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-13 .u-btn-1 {
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-13 .u-image-1 {
    margin-top: -342px;
    margin-left: auto;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    margin-top: 103px;
    margin-right: auto;
    margin-bottom: -272px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-13 .u-image-1 {
    width: 540px;
    height: 257px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-13 .u-btn-1 {
    margin-top: 22px;
  }

  .u-section-13 .u-image-1 {
    height: 162px;
    margin-top: -221px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-text-1 {
    margin: 81px 9px -162px;
  }
}